/* Non-GPS Upload Screen  */

.non-gps--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
.non-gps--content {
    background-color: white;
    border-radius: 8px;
    padding: 0px 2px;
    width: 400px;
    height: 480px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.non-gps--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 40px;
}

.non-gps--title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px auto;
}

.non-gps--close-button {
    background: none;
    border: none;
    margin-right: 10px;
    font-size: 20px;
}

.non-gps--button {
    background: none;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    width: 50px;
}

.non-gps--body {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid red;
    margin: 6px;
    height: 100%;
}

.non-gps--button {
    padding: 8px;
    background-color: var(--sDarkBlue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 160px;
    font-weight: normal;
    font-size: 16px;
    margin: 0 auto 10px auto;
}

.non-gps--label {
    margin: 2px 5px;
}


.non-gps--media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    width: auto;
}

.non-gps--image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.non-gps--video {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain; 
}

.non-gps--button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid red;
  }


/* Ensure the video viewer matches the image viewer height */
.ass-loc--video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-height: 40%; /* Reduce the video container height to 40% */
}

.ass-loc--button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid var(--sDarkBlue);
}

.ass-loc--button {
    padding: 10px;
    background-color: var(--sDarkBlue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.ass-loc--button:hover {
    background-color: var(--SYellow);
    color: var(--sDarkBlue);
}

.ass-loc--list {
    font-size: 12px;
    padding: 1px;
}

.pict--list {
    font-size: 10px;
}

/* Ensure videos start muted by default */
video[muted] {
    mute: true;
}
