/* Includes classes for MapPopup and Comments */
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-thumbnail.css');



.popup--modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1500; /* Ensure modal is above all other elements */
}

/* main MapBox control */
.popup--modal-content {
  background: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 650px;
  height: 480px;
  border: 1px solid green;
  max-width: 85%;
  min-width: 400px;
  transform: translateY(5%);
  z-index: 1600; /* Ensure modal content is above the overlay */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.popup--header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid var(--SYellow);
}

.popup--spot-location-title {
  margin: 0 auto;
  color: var(--sDarkBlue);
  font-family: 'Roboto';
  font-size: 18px;
}

.popup--close-window-sgv,
.popup--previous-location-sgv,
.popup--next-location-sgv {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
}

.popup--next-location-sgv,
.comments--edit-button {
  margin-left: 8px;
}

.popup--display-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 350px;
  box-sizing: border-box;
  border: 3px solid var(--SYellow);
}


.popup--fullscreen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  border: none;
  border-radius: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays on top */
}

.popup--modal-content {
  transition: all 0.3s ease-in-out;
}

.popup--fill-window-sgv {
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 8px;
}

.fill-window-button-svg {
  width: 100%;
  height: 100%;
}


.placeholder {
  height: 0;
  width: 600px ;
  font-size: 0px;
}

.lg-content {
  height: 300px;
}


.lg-outer {
  height: 350px;
}

.lg-backdrop {
  background-color: inherit
}

.lg-prev, .lg-next {
  background-color: inherit;
}

.lg-icon {
  color: black;
 }


/** IMAGE STYLING - BELOW **/

/* Fullscreen LightGallery container */
.lg-outer.lg-fullscreen {
  height: 100vh !important;
}

.popup--modal-content.popup--fullscreen {
  width: 100%;
  height: 100%;
}




/** IMAGE STYLING - ABOVE **/

.comments--editor-control-div {
  border: 1px solid var(--SYellow);
  height: 300px;
  width: 98%;
  margin: auto;
  overflow-y: auto;
  font-family: 'Nunito';
  font-size: 13px;
  padding: 2px;
}

.comments--edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--sDarkBlue);
  border: 4px solid var(--sDarkBlue);
  border-radius: 3px;
  height: 24px;
  width: 24px;
}

.Mui-selected {
  color: var(--sDarkBlue) !important;
}

.MuiTabs-indicator {
  background-color: var(--SYellow) !important;
}

.comments-summery-div {
  padding: 0;
  border: 0;
}

.comments-summery-text {
  padding: 0;
  border: 0;
  overflow-y: auto;
  font-family: 'Nunito';
  font-size: 13px;
  padding: 2px;
}

.summary-paragraph {
  margin-bottom: 1em;
}

/* AI Generated Content Tab  */
.ai-gen-container {
  display: flex;
  flex-direction: column;
  height: 346px;
}

.ai-gen-textarea {
  flex-grow: 1;
  width: 100%;
  border: 1px solid var(--SYellow);
  padding: 4px;
  margin-bottom: 5px;
  font-family: 'Nunito';
  font-size: 13px;
  resize: none;
  overflow-y: auto;
  color: #666;
  height: 250px;
}

.ai-gen-textarea::placeholder {
  color: #ccc;
}

.ai-gen-instruction {
  text-align: left;
  font-size: 0.9em;
  color: #555;
  margin: 0;
  padding: 0;
}

.ai-gen-button-container {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin-top: auto;
}

.ai-gen-button {
  background-color: #004466;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.8em;
  cursor: pointer;
  flex-grow: 1;
  text-align: center;
  margin: 0 5px;
  max-width: 130px;
}

.ai-gen-button:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}


