@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-share.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-video.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.4.0/css/lg-thumbnail.css');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  padding: 40px;
  background-image: linear-gradient(#e8f0ff 0%, white 52.08%);
  min-height: 100vh;
}





.popup--modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500; /* Ensure modal is above all other elements */
}

/* main MapBox control */
.popup--modal-content {
  background: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 650px;
  height: 480px;
  border: 1px solid green;
  max-width: 85%;
  min-width: 400px;
  transform: translateY(5%);
  z-index: 600; /* Ensure modal content is above the overlay */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}



.popup--header {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: orange;
}

.popup--header-button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #007bff;
  background-color: transparent;
  border: 1px solid #007bff;
  margin: 0;
}


.header__title {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

.header__description {
  font-size: 1.25rem;
  padding-top: 1rem;
  max-width: 620px;
  margin: 0 auto;
}
.header__description2 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  max-width: 620px;
  margin: 0 auto;
  margin-top: 10px;
}



.header__button:hover {
  color: #0056b3;
  background-color: transparent;
  border-color: #0056b3;
}

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery__item {
  width: 240px;
  margin: 5px;
}

.gallery__item img {
  max-width: 100%;
  height: auto;
}

.inline-gallery-container {
  width: 700px;
  height: 500px;
  position: relative;
}

.lightGallery-captions {
  h4 {
    transform: translate3d(60px, 0, 0px);
  }
  p {
    transform: translate3d(-60px, 0, 0px);
  }
  h4,
  p {
    opacity: 0;
  }
}

.lg-current {
  .lightGallery-captions {
    h4,
    p {
      transform: translate3d(0, 0, 0px);
    }
    h4,
    p {
      opacity: 1;
    }
  }
}
.lg-slide-progress {
  .lightGallery-captions {
    h4 {
      transform: translate3d(-60px, 0, 0px);
    }
    p {
      transform: translate3d(60px, 0, 0px);
    }
    h4,
    p {
      opacity: 0;
    }
  }
}

.lightGallery-captions {
  h4,
  p {
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in;
  }
}
.lg-current {
  .lightGallery-captions {
    h4,
    p {
      transition-delay: 500ms;
    }
  }
  &.lg-slide-progress {
    .lightGallery-captions {
      h4,
      p {
        transition-delay: 0ms;
      }
    }
  }
}



.inline-gallery-container {
  width: 100%;
  height: 40px !important;
  max-height: 40px !important;
  border: 5px solid orange !important; /* Debugging border */
  position: relative;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg-react-element,
.lg-container,
.lg-item,
.lg-video {
  height: 100% !important;
  max-height: 100% !important;
}



@media (max-width: 600px) {
  .inline-gallery-container {
    width: 100%;
    height: 40px; /* Enforce the height */
    max-height: 40px; /* Limit maximum height */
    border: 5px solid orange !important; /* Debugging border */
    position: relative;
    overflow: hidden; /* Prevent children from overflowing */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Override LightGallery internal styles */
  .lg-react-element,
  .lg-container {
    height: 100% !important; /* Force child elements to match parent height */
    max-height: 100% !important;
  }
}